.button{
  margin: 1.5rem 0;
  padding: 1rem ;
  background: transparent;
  border: 1px solid $primary;
  color: lighten($primary, 5%);
  cursor: pointer;
  transition: all .3s ease-in-out;
  &:hover{
    background: rgba($primary-dark, .5);
    color: #fff;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.3);
  }

  &.is-rounded{
    border-radius: 50%;
    border-width: 2px;
  }
}