.link {

  &,
  &:link,
  &:visited {
    text-decoration: none;
    transition: all 0.2s;
    border: none;
    cursor: pointer;
    user-select: none;
  }

  &:hover {
    color: $primary;
    user-select: none;
  }

  &:active,
  &:focus {
    outline: none;
    user-select: none;
  }
}