.post {
  &-box {
    &[data-img="default"] {
      .post-box-img[style] {
        background-image: gradient(rgba($dark, 0.8), rgba($dark-primary, 0.5)),
          url("../images/abstractsdark.jpg") !important;
      }
    }

    &-img {
      background-attachment: fixed;
      background-position: center -25rem;
      background-repeat: no-repeat;
      background-size: cover;
      height: 75vh;
      position: relative;
      width: 100%;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: gradient(rgba($dark, 0.8), rgba($dark-primary, 0.5));
      }
    }
  }

  .post-card-content {
    padding: 3rem 5rem 5rem;
    width: 100%;
    margin-left: 0;
    color: $primary-text;
    font-size: 1.4rem;
    &:hover {
      box-shadow: $shadow;
    }

    &__container {
      text-align: justify;
      margin: 4rem auto 0;

      figure {
        margin-left: 2em;
        margin-right: 2em;
        text-align: center;
        &:not(:last-child) {
          margin-bottom: 2em;
        }
        &:not(:first-child) {
          margin-top: 2em;
        }
        & img {
          display: inline-block;
        }
      }
      img {
        height: auto;
        max-width: 100%;
      }
      p:not(:last-child) {
        margin-bottom: 1.3rem;
      }

      .kg {
        &-img-card {
          margin-left: 2em;
          margin-right: 2em;
          text-align: center;
        }
        &-card {
        }
      }

      ul {
        list-style: disc outside;
        margin-left: 2em;
        margin-top: 1em;
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
    }
  }

  &-next{
    margin-top: 16.5rem;
  }
}
