.social {
  &-container {
    position: relative;
  }

  &-box {
    overflow: hidden;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 0%;
    transform: translate(-50%, 50%);
    width: 100%;
  }

  a {
    display: inline-block;
    padding: 1.6rem;
    color: $white;
    font-size: 2rem;

    img {
      cursor: pointer;
      width: 5rem;
      height: 5rem;
      opacity: 0.6;
      transition: all 0.3s ease;

      &:hover {
        opacity: 1;
      }
    }
  }
  applause-button {
    width: 5rem;
    height: 5rem;
    display: inline-block !important;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
    & .count-container {
      top: 100% !important;
      color: $secondary-text !important;
    }

    & .style-root:after {
      border: 2px solid;
    }

    &:hover:not(.clapped) .shockwave{
      animation: none !important;
    }
  }
}
