.row {
  max-width: $grid-width;
  margin: 0 auto;
  padding: 0 2rem;
  &:not(:last-child) {
    // Everything except last child
    margin-bottom: $gutter-vertical;

    @include respond(tab-port) {
      margin-bottom: $gutter-vertical-small;
    }
  }

  @include respond(tab-port) {
    max-width: 85rem;
  }

  @include respond(phone) {
    max-width: 40rem;
  }

  @include clearfix;

  [class^="col-"],
  [class^="col"] {
    // Select all elements tha starts with 'col-' class
    float: left;
    padding: 1.5rem;
    &:not(:last-child) {
      margin-right: $gutter-horizontal;

      @include respond(tab-port) {
        margin-right: 0;
        margin-bottom: $gutter-vertical-small;
      }
    }

    @include respond(phone) {
      width: 100% !important;
    }
  }

  .col {
    &-1 {
      width: col-width(1, 12);
    }

    &-2 {
      width: col-width(2, 12);
    }

    &-3 {
      width: col-width(3, 12);
    }
    &-4 {
      width: col-width(4, 12);
    }
    &-5 {
      width: col-width(5, 12);
    }
    &-6 {
      width: col-width(6, 12);
    }
    &-7 {
      width: col-width(7, 12);
    }
    &-8 {
      width: col-width(8, 12);
    }
    &-9 {
      width: col-width(9, 12);
    }
    &-10 {
      width: col-width(10, 12);
    }
    &-11 {
      width: col-width(11, 12);
    }
    &-12 {
      width: col-width(12, 12);
    }
  }

  .col-centered {
    float: none !important;
    margin: 0 auto !important;
  }
}
