// margin less top
.u-mlt {
  margin-top: 0 !important;
  &-big {
    margin-top: -3rem !important;
  }

  &-md {
    margin-top: -1.5rem !important ;
  }

  &-sm {
    margin-top: -0.5rem !important;
  }
}

.u-mlb {
  &-big {
    margin-bottom: -3rem !important;
  }

  &-md {
    margin-bottom: -1.5rem !important;
  }

  &-sm {
    margin-bottom: -0.5rem !important;
  }
}

.u-mb {
  &-big {
    margin-bottom: 3rem !important;
  }

  &-md {
    margin-bottom: 1.5rem !important;
  }

  &-sm {
    margin-bottom: 0.5rem !important;
  }
}

.u-mt {
  &-big {
    margin-top: 3rem !important;
  }

  &-md {
    margin-top: 1.5rem !important;
  }

  &-sm {
    margin-top: 0.5rem !important;
  }
}

.u-mr {
  &-big {
    margin-right: 3rem !important;
  }

  &-md {
    margin-right: 1.5rem !important;
  }

  &-sm {
    margin-right: 0.5rem !important;
  }
}

.u-ml {
  &-big {
    margin-left: 3rem !important;
  }

  &-md {
    margin-left: 1.5rem !important;
  }

  &-sm {
    margin-left: 0.5rem !important;
  }
}

.u-padless {
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;

  &-t {
    padding-top: 0 !important;
  }

  &-l {
    padding-left: 0 !important;
  }

  &-r {
    padding-right: 0 !important;
  }

  &-b {
    padding-bottom: 0 !important;
  }
}

.u-mless {
  margin-top: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;

  &-t {
    margin-top: 0 !important;
  }

  &-l {
    margin-left: 0 !important;
  }

  &-r {
    margin-right: 0 !important;
  }

  &-b {
    margin-bottom: 0 !important;
  }
}

.u-center-text {
  text-align: center;
}

.u-text {
  &-secondary {
    color: $text-secondary !important;
  }
}

.u-pulled-right {
  float: right;
}

.u-centered {
  margin-left: auto !important;
  margin-right: auto !important;
}

.u-padding {
  &-s {
    padding: 0.5rem;
  }
}
